#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 80px;
  overflow-y: auto;
}

main{
  flex: 1;
  min-height: calc(100vh - 144px);
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;
  width: auto;
  min-width: 1000px;
}

div{
  width: 100%;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 300px);
  background-color: #ffffff; /* 필요에 따라 배경색 조정 가능 */
}

.loginBox {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 상자에 그림자 추가 */
  border-radius: 8px;
}

.loginBox input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginBox button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginBox button:hover {
  background-color: #45a049;
}

.boardContents {
  width: 250px;               /* 원하는 너비 설정 */
  text-align: left;          /* 내용은 왼쪽 정렬 */
  background-color: #f0f0f0; /* 배경색 등 추가 스타일 */
  padding: 20px;            /* 적절한 padding 추가 */
  border-radius: 8px;       /* 모서리를 둥글게 (선택 사항) */
}

/* socialLoginBtn에 스타일을 추가 */
#socialLoginBtn {
  background-color: #4285F4; /* 구글 로그인과 유사한 색상 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#socialLoginBtn:hover {
  background-color: #357ae8; /* hover 시 색상 변경 */
}